[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CS0105: Using directive appeared previously in this namespace
dotnet_diagnostic.CS0105.severity = none
